
    <div style="    float: left;
        width: 100px;
        height: 75px;
        padding: 10px;
        border: solid;">
        <app-profile-picture ></app-profile-picture>
    </div>
    <div style="float: left; padding: 5px;"></div>
    <div style="float:left;width: 680px; 
                height:75px; border: solid;
                padding: 10px;">
        <div style="border: solid;height: 15px; padding: 5px">
            <app-description></app-description>
        </div>
        <div style="padding: 2px;"></div>
        <div style="border: solid; height: 32px; padding: 5px">
            <app-actions></app-actions>
        </div>
    </div>
